:root{
    --white-color: #fff;
    --back-color: #000;
    --text-color: #333;
    --primary-color: rgba(235, 77, 46, 1);
}
*{
    box-sizing: inherit; /* để cho các thẻ kế thừa lại box-sizing trong thẻ html */
}
html{
    font-size: 62.5%;  /* => HACK: 1rem = 10px */
    line-height: 1.6rem ; /* ~16px = 16/10 = 1.6rem  */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
 /*---------------Mục này chuẩn bị để sau này sẽ cho Responsie ----------------*/
.grid{
    width: 1200px;
    max-width: 100%; 
    /* ý nghĩa: Với màn hình kích cỡ > 1200 thì width sẽ là 1200px còn với màn hình cỡ nhỏ hơn thì sẽ lấy bằng với kích cỡ màn hình  */
    margin: 0 auto; /* Tự căn giữa cho các thẻ */

}

.grid__full-width{
    width: 100%; /* Khi không muốn sử dụng width 1200px thì thêm class này vào thẻ */
}
.grid__row{
    display: flex;
    flex-wrap: wrap; 
    /* ý nghĩa: những thẻ nằm trong class .grid__row thì sẽ nằm ngang và vượt quá chiều ngang thì xuống dòng */
}

/*---------------  Animation ---------------*/
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
    to{
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}


/* modal  */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

}

.modal__body{
    background-color:var(--white-color);
    z-index: 10;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}